/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  font-weight: 600;
  vertical-align: baseline;
}
html,
body {
  height: 1000px;
  width: 2000px;
  margin: 0 auto;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-items: flex-end;
  width: 100%;
  height: 100px;
}
@media (max-width: 500px) {
  header {
    flex-flow: column nowrap;
    height: 300px;
  }
}
header #logo {
  margin-top: 2vh;
  margin-bottom: 1vh;
  margin-left: 3%;
}
@media (max-width: 800px) {
  header #logo {
    display: none;
  }
}
header nav {
  margin-left: 10%;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
@media (max-width: 800px) {
  header nav {
    width: 100%;
    margin-left: 20%;
  }
}
@media (max-width: 500px) {
  header nav {
    height: 100%;
    width: 100%;
    margin: 0;
  }
}
header nav ul {
  color: black;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-content: center;
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 500px) {
  header nav ul {
    margin: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    height: 100%;
  }
}
@media (max-width: 800px) {
  header nav ul {
    justify-content: space-evenly;
    align-items: center;
  }
}
header nav ul li {
  width: 15%;
  height: 100%;
}
@media (max-width: 800px) {
  header nav ul li {
    width: 10%;
  }
}
@media (max-width: 500px) {
  header nav ul li {
    width: 100%;
  }
}
header nav ul li a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
}
@media (max-width: 800px) {
  header nav ul li a {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  header nav ul li a {
    width: 100%;
  }
}
header nav ul li a h2 {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  header nav ul li a h2 {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid black;
  }
}
header nav ul li a h2:hover {
  border-radius: 3px;
  background-color: black;
  color: white;
}
.wrapper-home {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 auto;
  background-color: #98f7e5;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 800px) {
  .wrapper-home {
    width: 100%;
  }
}
.wrapper-home .main-content-home {
  height: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
@media (max-width: 800px) {
  .wrapper-home .main-content-home {
    height: 100%;
  }
}
.wrapper-home .main-content-home .banner-image {
  align-items: center;
  background-size: 55%, 100%;
  background-image: url("../img/wall-background.png");
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2%;
}
@media (max-width: 800px) {
  .wrapper-home .main-content-home .banner-image {
    background-size: 65%, 70%;
  }
}
@media (max-width: 500px) {
  .wrapper-home .main-content-home .banner-image {
    background-size: 45%, 100%;
    flex-flow: column nowrap;
  }
}
.wrapper-home .main-content-home .banner-image .button {
  border-radius: 4px;
  border: none;
  background-color: black;
  color: #98f7e5;
  margin-bottom: 15%;
  width: 110px;
  height: 50px;
  text-align: center;
  font-size: 13px;
  transition: all 0.5s;
  cursor: pointer;
}
.wrapper-home .main-content-home .banner-image .button .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-family: "Open Sans", sans-serif;
}
.wrapper-home .main-content-home .banner-image .button a:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.wrapper-home .main-content-home .banner-image .button :hover a {
  padding-right: 25px;
}
.wrapper-home .main-content-home .banner-image .button :hover a:after {
  opacity: 1;
  right: 0;
}
.wrapper-home .main-content-home .banner-image .app-btn-home {
  margin: 2%;
  padding: 9% 4%;
  border: 4px solid #ffdb70;
  border-radius: 5px;
  background-color: #fb8570;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}
.wrapper-home .main-content-home .banner-image .team-home {
  margin: 2%;
  padding: 9% 4%;
  border: 4px solid #ffdb70;
  border-radius: 5px;
  background-color: #fb8570;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}
.wrapper-home .main-content-home .banner-image .course-info-home {
  margin: 2%;
  padding: 9% 4%;
  border: 4px solid #ffdb70;
  background-color: #fb8570;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}
.wrapper-about {
  width: 95%;
  height: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 auto;
  background-color: #98f7e5;
}
.wrapper-about .main-content-about {
  height: 75%;
  display: flex;
  flex-flow: row nowrap;
  background-image: url("../img/wall-background.png");
  background-size: 1000px 900px;
}
.wrapper-about .main-content-about .team-about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border: 2px solid black;
  padding: 10%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  line-height: 20px;
  background-color: #98f7e5;
}
footer ul {
  margin-top: 10%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
  font-size: 80%;
}
footer .copyright {
  display: inline-block;
  font-size: 80%;
}
