// Home Content
.wrapper-about {
  max-width: 1350px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: @main-alt-color;
  font-family: "Open Sans", sans-serif;

  @media @tablet {
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    justify-items: center;
  }

  @media @mobile {
    justify-items: flex-start;
    height: 100%;
  }

  .banner-image-about {
    align-items: space-evenly;
    justify-items: space-evenly;
    background-image: url("../img/about-background.jpg");
    background-color: @color-3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;

    @media @tablet {
      background-size: 65%, 70%;
      flex-flow: column wrap;
      background-size: auto;
      align-items: center;
      justify-items: center;
      height: 100%;
    }

    @media @mobile {
      background-size: 90%, 100%;
      flex-flow: column nowrap;
      background-repeat: repeat;
      align-content: center;
      height: 100%;
    }

    #team-intro {
      display: flex;
      font-size: 2rem;
      font-family: "Open Sans", sans-serif;
      width: 100%;
      justify-content: center;
      margin-top: 5%;
    }

    .team-about {
      height: 40%;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-items: space-evenly;
      align-items: space-evenly;
      box-sizing: border-box;

      @media @tablet {
        height: 30%;
        width: 100%;
        flex-flow: column nowrap;
        justify-items: space-evenly;
        align-items: space-evenly;
      }

      @media @mobile {
        align-items: space-evenly;
        height: auto;
      }

      .person {
        display: flex;
        flex-flow: column nowrap;
        justify-items: flex-start;
        align-items: center;
        margin: 1%;
        width: 25%;
        border: 4px solid @color-3;
        border-radius: 5px;
        background-color: @color-2;
        background: rgba(235, 134, 134, 0.495);
        text-align: center;
        font-family: "Open Sans", sans-serif;
        box-sizing: border-box;

        h3 {
          font-size: 2rem;
          margin-top: 10%;
          height: auto;
        }

        p {
          font-size: 1.2rem;
          margin: 5%;
          height: auto;
        }

        .img {
          display: flex;
          transform: scale(0.4);
          z-index: auto;
          min-width: 120px;
          max-width: 300px;
          min-height: 120px;
          max-height: 300px;

          @media @tablet {

            margin-left: 30%;
            margin-right: 30%;
            margin-bottom: 10%;
            height: 200px;
          }
        }

        @media @tablet {
          width: 40%;
          height: 75%;
          margin-left: 4%;
        }

        @media @mobile {
          height: 42%;
        }
      }
    }

    .team-about-2 {
      height: 40%;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-items: space-evenly;
      align-items: space-evenly;
      box-sizing: border-box;

      @media @tablet {
        height: 30%;
        width: 100%;
        flex-flow: column nowrap;
        justify-items: space-evenly;
        align-items: space-evenly;
      }

      @media @mobile {
        align-items: space-evenly;
        height: auto;
      }

      .person-2 {
        display: flex;
        flex-flow: column wrap;
        justify-items: space-evenly;
        align-items: space-evenly;
        margin: 1%;
        max-width: 25%;
        border: 4px solid @color-3;
        border-radius: 5px;
        background-color: @color-2;
        background: rgba(235, 134, 134, 0.495);
        text-align: center;
        font-family: "Open Sans", sans-serif;
        box-sizing: border-box;

        h3 {
          font-size: 2rem;
          margin-top: 10%;
          height: auto;
        }

        p {
          font-size: 1.2rem;
          margin: 5%;
          height: auto;
        }

        .img-2 {
          display: flex;
          transform: scale(0.4);
          z-index: auto;
          height: 300px;
          width: 300px;

          @media @tablet {

            margin-left: 30%;
            margin-right: 30%;
            margin-bottom: 10%;
            height: 200px;
          }

        }

        @media @tablet {
          width: 40%;
          height: 75%;
          margin-left: 4%;
        }

        @media @mobile {
          height: 42%;
        }
      }
    }
  }
}
