footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  line-height: 20px;
  background-color: @main-alt-color;

  ul {
    margin-top: 10%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: center;
    font-size: 80%;
  }

  .copyright {
    display: inline-block;
    font-size: 80%;
  }

}
