// Home Content
.wrapper-home {
 max-width: 1350px;
  height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 auto;
  background-color: @main-alt-color;
  font-family: "Open Sans", sans-serif;

  @media @tablet {
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    justify-items: center;
    margin: 0 auto;
  }

  @media @mobile {
    justify-items: flex-start;
  }

  .main-content-home {
    height: 95%;
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;

    @media @tablet {
      height: 80%;
      width: 100%;
      flex-flow: column nowrap;
      justify-items: flex-start;
      align-items: flex-start;
    }

    @media @mobile {
      justify-items: space-evenly;
      align-content:space-around;
      height: 100%;
    }

    .banner-image {
      align-items: center;
      background-size: 100%, 30%;
      background-image: url("../img/wall-background.png");
      height: 100%;
      width: 100%;
      display: flex;
      background-repeat: no-repeat;

      @media @tablet {
        background-size: 65%, 70%;
        flex-flow: column nowrap;
        background-size: auto;
        align-items: center;
      }

      @media @mobile {
        background-position: center;
        background-size: 90%, 100%;
        flex-flow: column nowrap;
        background-repeat: repeat;
        align-content: center;
        height: 100%;
      }

      .button {
        text-decoration: none;
        border-radius: 6px;
        border: none;
        background-color: black;
        // color: white;
        margin-bottom:15%;
        margin-top: 20%;
        width: 170px;
        height: 100px;
        text-align: center;
        font-size: 1.2rem;
        transition: all 0.5s;
        cursor: pointer;

        :hover {
          padding-right: 25px;
        }

        @media @tablet {
          transform: scale(0.6);
          margin-bottom: 5%;
        }

        @media @mobile {
          transform: scale(0.4);
          margin: 0;
        }
      }

      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        font-family: "Open Sans", sans-serif;
        color: white;

        :hover {
          color: black;
        }

        .button span:after {
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
          // color: black;
          background-color: black;

          :hover {
            opacity: 1;
            background-color: black;
            // color: black;
            right: 0;
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: white;

      :hover {
        padding-right: 25px;
        color: black;
      }
    }

    .app-btn-home {
      margin: 1%;
      width: 30%;
     height:50%;
     padding-left:2%;
     padding-right:2%;
      border: 4px solid @color-3;
      border-radius: 5px;
      background-color: @color-2;
      text-align: center;
      font-size: 15px;
      line-height: 20px;

      @media @tablet {
        display: flex;
        flex-direction: column;
        transform: scale(0.8);
        text-size: 18px;
        text-align: justify;
        align-items: center;
        line-height: 15px;
        width: 60%;
        margin: 0;
      }

      @media @mobile {
        transform: scale(0.7);
        line-heght: 20%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0%;
      }
    }
    .team-home {
      width: 30%;
      margin: 1%;
      padding-left:2%;
     padding-right:2%;
     height: 50%;
      border: 4px solid @color-3;
      border-radius: 5px;
      background-color: @color-2;
      text-align: center;
      font-size: 15px;
      line-height: 20px;

      @media @tablet {
        display: flex;
        flex-direction: column;
        transform: scale(0.8);
        text-size: 18px;
        text-align: justify;
        align-items: center;
        line-height: 15px;
        width: 60%;
        margin: 0;
      }

      @media @mobile {
        transform: scale(0.7);
        line-heght: 20%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0%;
      }
    }
    .course-info-home {
      margin: 1%;
      padding-left:2%;
     padding-right:2%;
      width: 30%;
     height: 50%;
      border: 4px solid @color-3;
      border-radius: 5px;
      background-color: @color-2;
      text-align: center;
      font-size: 15px;
      line-height: 20px;

      @media @tablet {
        display: flex;
        flex-direction: column;
        transform: scale(0.8);
        text-size: 18px;
        text-align: justify;
        align-items: center;
        line-height: 15px;
        width: 60%;
        margin: 0;
      }

      @media @mobile {
        transform: scale(0.7);
        line-heght: 20%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0%;
      }
    }
  }
}
