// Home Content
.wrapper-home {
  max-width: 1900px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: @color-3-alt;
  font-family: "Open Sans", sans-serif;

  @media @tablet {
    height: 100%;
    flex-flow: column nowrap;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media @mobile {
    justify-items: space-evenly;
    height: auto;
    width: 100%;
  }

  .main-content-home {
    height: auto;
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    margin-top: 150px;

    @media @tablet {
      height: 100%;
      width: auto;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-self: center;
    }

    @media @mobile {
      justify-items: space-evenly;
      align-content: space-around;
      height: auto;
      margin-top: 400px;
    }

    .banner-image {
      align-items: center;
      justify-items: space-evenly;
      background-size: 100%, 30%;
      background-image: url("../img/wall-background.png");
      // background-color: @color-3;
      height: auto;
      width: 100%;
      display: flex;
      background-repeat: no-repeat;
      // background-origin: padding-box;
      background-position: 0;
      margin: 0 auto;



      @media @tablet {
        background-size: 65%, 70%;
        flex-flow: column nowrap;
        align-content: space-evenly;
        justify-items: center;
        align-self: center;
        // height: 100%;
        // margin: 0 auto;
      }

      @media @mobile {
        flex-flow: column nowrap;
        background-repeat: repeat;
        // align-content: center;
        justify-items: flex-start;
        height: auto;
width: auto;
        background-size: 70% 70%;
        background-image: none;

      }

      .button {
        text-decoration: none;
        border-radius: 6px;
        border: none;
        background-color: black;
        margin-top: 4%;
        margin-bottom: 4%;
        width: 170px;
        height: 100px;
        text-align: center;
        font-size: 1.2rem;
        transition: all 0.5s;
        cursor: pointer;

        :hover {
          padding-right: 25px;
        }

        @media @tablet {
          // transform: scale(0.8);
          margin-bottom: 8%;
        }

        @media @mobile {
          // transform: scale(0.6);s
        }
      }

      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        font-family: "Open Sans", sans-serif;
        color: white;

        :hover {
          color: black;
        }

        .button span:after {
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
          // color: black;
          background-color: black;

          :hover {
            opacity: 1;
            background-color: black;
            // color: black;
            right: 0;
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: white;

      :hover {
        padding-right: 25px;
        color: black;
      }
    }

    .main-content-home {
      // height: auto;

@media mobile {

margin: 0;
}

    }


    .app-btn-home {
      display: flex;
      flex-flow: row wrap;
      align-content: space-evenly;
      justify-content: space-evenly;
      flex: 1 1 auto;
      // margin: 1%;
      width: 420px;
      // height: 420px;
      padding: 2%;
      border: 4px solid @color-3;
      border-radius: 5px;
      text-align: justify;
      font-size: 1rem;
      line-height: 20px;
      background: rgba(134, 149, 235, 0.495);
      // background-position: 0%;

      @media @tablet {
        display: flex;
        flex-flow: column nowrap;
        transform: scale(0.8);
        text-align: justify;
        align-items: center;
        justify-items: space-evenly;
        padding-left: 6%;
        padding-right: 6%;
      }

      @media @mobile {
        max-width: 250px;
        padding: 10%;
        transform: scale(1);
        margin: 0;

      }
    }
    .team-home {
      display: flex;
      flex-flow: row wrap;
      align-content: space-evenly;
      justify-content: space-evenly;
      flex: 1 1 auto;
      width: 420px;
      // margin: 1%;
      padding: 6%;
      border: 4px solid @color-3;
      border-radius: 5px;
      text-align: center;
      font-size: 1rem;
      line-height: 20px;
      background: rgba(134, 149, 235, 0.495);

      @media @tablet {
        display: flex;
        flex-flow: column nowrap;
        transform: scale(0.8);
        text-align: justify;
        align-items: center;
        justify-items: center;
        padding-left: 6%;
        padding-right: 6%;
      }

      @media @mobile {
        max-width: 250px;
        padding: 10%;
        transform: scale(1);
        margin:10% 0;
      }
    }
    .course-info-home {
      display: flex;
      flex-flow: row wrap;
      align-content: space-evenly;
      justify-content: space-evenly;
      flex: 1 1 auto;
      width: 420px;
      border: 4px solid @color-3;
      border-radius: 5px;
      text-align: center;
      font-size: 1rem;
      line-height: 20px;
      background: rgba(134, 149, 235, 0.495);

      @media @tablet {
        display: flex;
        transform: scale(0.8);
        flex-flow: column nowrap;
        align-content: space-evenly;
        justify-content: center;
        align-items: center;
        justify-items: center;
        padding-left: 6%;
        padding-right: 6%;
      }

      @media @mobile {
        max-width: 250px;
        padding: 10%;
        transform: scale(1);
       margin:25% 0;
      }
    }
  }
}
