// Navigation code here
header {
  display: flex;
  flex-flow: row nowrap;
  background-color: @main-light-color;
  align-items: center;
  justify-items: flex-end;
  justify-items: space-evenly;
  max-width: 2000px;
  width: 100%;
  height: 150px;
  margin:0 auto;
  position: fixed;
  opacity: .8;
  z-index: 100;


@media @tablet {
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  align-content: flex-end;
}


  @media @mobile {
    justify-content: space-evenly;
    height: 40%;
  }

  #logo {
    margin-top: 2%;
    margin-bottom: 4vh;
    margin-left: 6%;
    margin-right: 23%;

    @media @tablet {
      display: none;
    }
  }

  nav {
    display: flex;
    margin-left: 10%;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
   white-space: nowrap;

    @media @tablet {
      width: 100%;
    }

    @media @mobile {
      width: 100%;
      margin: 0;
    }

    ul {
      color: black;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-flow: row nowrap;


      @media @mobile {
        margin: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        margin-right: 2%;
      }

      @media @tablet {
        justify-items: flex-end;
        width: 100%

      }

      li {
        width: 30%;
        height: 100%;

        @media @tablet {
          width: 20%;
        margin: 1%;

        }

        @media @mobile {
          width: 100%;
          margin:0 auto;
        }


        &:hover {
          border-radius: 3px;
          background-color: black;
          color: white;
          opacity: 1;
        }

        a {
          height: 100%;
          width: 100%;
          text-decoration: none;
          color: black;
          font-family: "Noto Sans JP", sans-serif;

          &:hover {
            border-radius: 3px;
            background-color: black;
            color: white;
            opacity: 1;
          }
          @media @tablet {
            font-size: 0.9rem;
          }
          @media @mobile {
            font-size: 1rem;
            width: 100%;
          }
          h2 {
            display: flex;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;

            @media @mobile {
              height: 100%;
              width: 100%;
              border-bottom: 1px solid black;
            }

          }
        }
      }
    }
  }
}
