// Variables

// Color pointers
@main-color: #00Bc98;
@main-alt-color: #98f7e5;
@main-light-color: #dcfff8;
@color-2: #fb8570;
@color-2-alt: #fccac3;
@color-3: #ffdb70;
@color-3-alt: #ffe8ae;
@color-4: #f6f8fa;
@color-5: #d9eeff;



// Mobile var

@mobile: ~'(max-width: 500px)';
@media @mobile {
    set {
        flex-direction: column;
    }
}

// Tablet var

@tablet: ~"(max-width:  750px)";
@media @tablet {
    set {
        flex-direction: column;
    }
}
